.menu ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.menu li {
	display: block;
	float: left;
	margin: 0;
	padding: 2px;
}

.menu li a {
	padding: 2px;
}

div.form .row {
    margin: 2px 20px;
    padding: 4px;
}

div.form label {
    display: inline-block;
    width: 170px;
}

div.form select {
    width: 230px;
}

.error {
    padding: 2px;
}

div.field {
    background: white;
    box-shadow: 0 0 10px #ACACAC;
    margin-bottom: 10px;
}

div.field h2 {
    margin-left: 20px;
}

div.field .delete {
    float: right;
    margin: 10px 20px;
    text-align: right;
}

div.field .delete label {
    display: inline;
    margin-right: 10px; 
}

.image-items {
    border-left: 1px solid silver;
    height: 685px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: auto;
}

.image {
    border-bottom: 1px solid silver;
    height: 200px;
    margin: 0 1px;
    padding: 10px 0;
    position: relative;
    width: 200px;
}

.image img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.button {
    display: inline-block !important;
    float: none !important;
    margin: 0.2em 0 0.5em 2px !important;
    padding: 1px 5px !important;
}